@using SocialRentAccunting.ViewModels
@model List<KinsmanKinshipModel>


<ol class="list-group list-group-numbered">
@foreach(var kinsman in Model)
{
   <li class="list-group-item d-flex align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">@kinsman.FullName</div>
      @kinsman.Kinship
    </div>
  </li> 
}
  
  
</ol>