@model Tenant

<label asp-for="@Model" class="control-label"></label>
<input name="TenantId" value="@Model.Id" class="form-control" type="hidden" />
<div class="input-group">
    <input name="Tenant" value="@Model.FullName" class="form-control" />
    <button class="btn btn-outline-secondary" type="button" id="FindTenant">Выбрать</button> 
    <button class="btn btn-outline-secondary" type="button" id="CreateTenant">Добавить</button>
</div>
                         
