@font-face {
    font-family: "main";
    src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2"), url("fonts/ApfelGrotezk-Regular.woff") format("woff");
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: main !important;
  margin-bottom: 60px;
}