@model SocialRentAccunting.ViewModels.KismanEditViewComponentModel

<div id="inputFormRow" style="width: 35%">
    <div class="input-group mb-3"> 
        <input type="hidden" name="Kinsmen[@ViewBag.Count].TenantId" asp-for="Kinsman.TenantId"/>
        <input type="text" name="Kinsmen[@ViewBag.Count].FullName" asp-for="Kinsman.FullName" class="form-control m-input" placeholder="FullName" autocomplete="off" style="width: 30%" required>
        <select name="Kinsmen[@ViewBag.Count].KinshipId" asp-for="Kinsman.KinshipId"
                    class="form-control"
                    asp-items="@(new SelectList(Model.SelectListModel,"Id", "Name"))">
            </select>
        <div class="input-group-append">
            <button id="removeRow" type="button" class="btn btn-danger" style="margin-right: 5px">Remove Kinsman</button>
        </div>
    </div>
</div>

                         
