@model SocialRentAccunting.ViewModels.TenantViewModel
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Наниматель</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div class="modal-body"> 
<h4>Добавить нанимателя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="TenantCreateForm" action="CreateTenant" method="post" onsubmit="return trySetTenant(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tenant.FullName" class="control-label"></label>
                <input asp-for="Tenant.FullName" class="form-control" />
                <span asp-validation-for="Tenant.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.BirthDate" class="control-label"></label>
                <input asp-for="Tenant.BirthDate" class="form-control" />
                <span asp-validation-for="Tenant.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.Phone" class="control-label"></label>
                <input asp-for="Tenant.Phone" class="form-control" />
                <span asp-validation-for="Tenant.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.Passport.Serie" class="control-label"></label>
                <input asp-for="Tenant.Passport.Serie" class="form-control" />
                <span asp-validation-for="Tenant.Passport.Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.Passport.Number" class="control-label"></label>
                <input asp-for="Tenant.Passport.Number" class="form-control" />
                <span asp-validation-for="Tenant.Passport.Number" class="text-danger"></span>
            </div>

            <br />
    

            <div class="form-group">
                <div id="inputFormRow" style="width: 35%">
                    <div class="input-group mb-3">
                        <br />
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div id="newRow">
                    <input type="hidden" id="totalLans" value="0" />
                </div>
                <button id="addRow" type="button" class="btn btn-info">Add Kinsman</button>    
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>

