@model             Contract

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-xl"></div>
</div>

<h4>Добавить договор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Number" class="control-label"></label>
                <input asp-for="Order.Number" class="form-control" />
                <span asp-validation-for="Order.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>

            <div class="form-group" id="house">
                <label asp-for="House" class="control-label"></label>
                <input asp-for="HouseId" class="form-control" type="hidden" />
                <div class="input-group">
                    <input asp-for="House" class="form-control" />
                    <button class="btn btn-outline-secondary" type="button" id="FindHouse">Выбрать</button>
                    <button class="btn btn-outline-secondary" type="button" id="CreateHouse">Добавить</button>
                </div>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>

            <div class="form-group" id="tenant">
                <label asp-for="Tenant" class="control-label"></label>
                <input asp-for="TenantId" class="form-control" type="hidden" />
                <div class="input-group">
                    <input asp-for="Tenant" class="form-control" />
                    <button class="btn btn-outline-secondary" type="button" id="FindTenant">Выбрать</button> 
                    <button class="btn btn-outline-secondary" type="button" id="CreateTenant">Добавить</button>
                </div>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>

            <div class="form-group" id="landlord">
                <label asp-for="Landlord" class="control-label"></label>
                <input asp-for="LandlordId" class="form-control" type="hidden" />
                <div class="input-group">
                    <input asp-for="Landlord" class="form-control" />
                    <button class="btn btn-outline-secondary" type="button" id="FindLandlord">Выбрать</button>
                        <button class="btn btn-outline-secondary" type="button" id="CreateLandlord">Добавить</button>
                </div>
                <span asp-validation-for="LandlordId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/js/contract_tenant.js" asp-append-version="true"></script>
    <script src="~/js/contract_landlord.js" asp-append-version="true"></script>
    <script src="~/js/contract_house.js" asp-append-version="true"></script>
}
