@model             House

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Добавить помещение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CadastreNumber" class="control-label"></label>
                <input asp-for="CadastreNumber" class="form-control" />
                <span asp-validation-for="CadastreNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonArea" class="control-label"></label>
                <input asp-for="CommonArea" class="form-control" />
                <span asp-validation-for="CommonArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatsCount" class="control-label"></label>
                <input asp-for="FlatsCount" class="form-control" />
                <span asp-validation-for="FlatsCount" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
